<html>
<body>
<table style="border: 1px solid black; border-collapse: collapse;">
<tr bgcolor="#F0F8FF">
    <th style="border: 1px solid black; padding: 8px 16px;">Hostname</th>
    <th style="border: 1px solid black; padding: 8px 16px;">IP Address</th>
    {% for service in application %}
    <th style="border: 1px solid black; padding: 8px 16px;">{{ service }}</th>
    {% endfor %}
    <th style="border: 1px solid black; padding: 8px 16px;">Uptime</th>
</tr>
{% for host in ansible_play_batch %}
<tr>
    <td style="border: 1px solid black; padding: 8px 16px;">{{ hostvars[host].ansible_hostname }}</td>
    <td style="border: 1px solid black; padding: 8px 16px;">{{ hostvars[host].ansible_default_ipv4.address }}</td>
    {% set service_status_list = hostvars[host]['dev_info'].split(',') %}
    {% for index in range(2, service_status_list | length - 1) %}
    <td style="border: 1px solid black; padding: 8px 16px;">{{ service_status_list[index] }}</td>
    {% endfor %}
    <td style="border: 1px solid black; padding: 8px 16px;">{{ service_status_list[-1] }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
