{
 "ClientCertificate": "-----BEGIN CERTIFICATE----- MIIBYDCB5gIII8+v1jREM+QwCgYIKoZIzj0EAwIwGjEYMBYGA1UEAwwPUjdTY2Fu QXNzaXN0YW50MB4XDTIzMDcyMDIwMjE0MVoXDTI2MDcxOTIwMjE0MVowGjEYMBYG A1UEAwwPUjdTY2FuQXNzaXN0YW50MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAE/d/x c/mVCBlEu8Yn9brZMHcE/sXq6WW+6uWc/AK1pvdZUh167sZtYTlUcNbDpG4n0cix tMmSWK2kpElUMaLgodj2VfV9MTJA4oXp010Spl1lxn6QiIUMJkfmU4WXbrSmMAoG CCqGSM49BAMCA2kAMGYCMQD0GPwuc7XeU53kJSZvod3uaFutdFTczU7fl7bkqdfH EPFAYv31G4BCFpQAI8sA6gsCMQC5SOkKSGXMAElvRW+GRuJzDKwUkNjrbqzWirST iWDK3I/BoTeu8di+Pos/9bAUhZg= -----END CERTIFICATE-----",
 "ResponseTimeout": 300,
 "Debug": false,
 "PackageManager": "rpm"
}