
( ) ( )( )   ( )       ( ) ( )(  _`\ (  _`\
| |_| |`\`\_/'/'______ | | | || (_(_)| (_(_)
|  _  |  `\ /' (______)| | | ||  _)_ |  _)_
| | | |   | |          | \_/ || (_( )| (_( )
(_) (_)   (_)          `\___/'(____/'(____/


Access to this private computer system is for authorized users only. Unauthorized and/or in appropriate use, including exceeding
authorization, is strictly prohibited and may subject said user(s) to civil and criminal penalties. System use may be monitored
and recorded. Use of this system constitutes consent to any such monitoring.
